body{
    text-align: center;
    margin-top:0;
    margin-bottom:0;
    margin-left:20%; 
    margin-right:20%;
}

/* .container{
    width:auto;
    height: auto;
    border: 1px solid black;
}  */

.row{
    border: 1px solid #000;
}

.cell{
    border: 1px solid #000;
    /* height: 30px;
    width: 30px;
    float: left; */
}

.cell:hover{
    background-color:#000;
}

table td{
    padding: 25px;
    border: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
}

table{
    border: 1px solid black;
    margin: auto;
    border-spacing: 0;
}