body{
    text-align: center;
}

.grid{
    width: 800px;
    height: 650px;
    border: 3px solid black;
    display: grid;
    position: absolute;
    left: 22%;
    top: 17%;
    overflow: hidden;
}

.cell{
    border: 1px solid black;
}

/* .row{
    border: 1px solid #000;
}

table td{
    padding: 25px;
    border: 1px solid #000;
    box-sizing: border-box;
    white-space: nowrap;
    
}

table{
    border: 5px solid black;
    margin: auto;
    border-spacing: 0;
    table-layout: fixed;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
} */