@import url('https://fonts.googleapis.com/css?family=Pacifico');
body{
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-left: 20%;
    margin-right: 20%;

    animation-name: changeBackground;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}

@keyframes changeBackground{
    0%{
        background-color: #EAE2B7;
    }
    25%{
        background-color: #FCBF49;
    }
    50%{
        background-color: #F77F00;
        color:#fff;
    }
    75%{
        background-color: #D62828;
        color:#fff;
    }
    100%{
        background-color: #003049;
        color:#fff;
    }
}

.grid{
    width: 480px;
    height: 480px;
    border: 3px solid black;
    display: grid;
    margin-left: 20%;
    margin-right: 20%; 
    background-color: #fff;
}

.cell{
    border: 1px solid black;
}

#main{
    margin-top: 0%;
    margin-bottom: 0%;
}

button{
    font-family: 'Pacifico', cursive;
}

/* .row{
    border: 1px solid #000;
}

table td{
    padding: 25px;
    border: 1px solid #000;
    box-sizing: border-box;
    white-space: nowrap;
    
}

table{
    border: 5px solid black;
    margin: auto;
    border-spacing: 0;
    table-layout: fixed;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
} */